{% extends 'dashbord_opratoe/oprator_base.html' %}
{% block content %}
    <div class="col-lg-9">
        <!-- Card -->
        <div class="card">
            <!-- Header -->
            <div class="card-header border-bottom">
              <h5 class="card-header-title"> ساخت مسابقه</h5>
            </div>
            <!-- End Header -->
            <!-- Body -->
            <div class="card-body">
              <div class="row">
              </div>
            </div>
            <!-- End Body -->
        </div>
          <!-- End Card -->
    </div>
{% endblock %}