{% extends 'sign up _ log in/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">

  <!-- Title -->
  <title>بازنشانی رمز عبور </title>

</head>

<body>
    {% block content %}
      <!-- ========== MAIN CONTENT ========== -->
      <main id="content" role="main">
        <!-- Form -->
        <div class="container content-space-3 content-space-t-lg-4 content-space-b-lg-3">
          <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
              <h1 class="h2">رمز عبور را فراموش کرده اید؟</h1>
              <p>شماره موبایل خود را در زیر وارد کنید تا ما شما را به مسیر درست برگردانیم.</p>
            </div>
            <!-- End Heading -->

            <!-- Form -->
            <form class="js-validate needs-validation"  action="{% url 'athentication:reset_password' %}" method="POST">
              <!-- Form -->
                {% csrf_token %}
              <div class="mb-3">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label" for="signupSimpleResetPasswordEmail" tabindex="0">شماره موبایل شما</label>

                  <a class="form-label-link" href="{% url 'athentication:log in' %}">
                    بازگشت به صفحه ورود
                  </a>
                </div>

                <input type="number" class="form-control form-control-lg text-center" name="phone_number"
                   tabindex="1" placeholder="شماره موبایل خود را وارد نمایید"
                  aria-label="Enter your email address" required>
                <span class="invalid-feedback">لطفا یک آدرس ایمیل معتبر وارد کنید.</span>
              </div>
              <!-- End Form -->

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">ارسال</button>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Form -->
      </main>
      <!-- ========== END MAIN CONTENT ========== -->
    {% endblock %}
</body>

</html>